# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="vervang-dit-met-een-lang-willekeurig-secret-gebruik-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# TheSportsDB API (optioneel)
SPORTSDB_API_KEY=""
